@import 'https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css';

:root {
  --color1: #161619;
  --color2: #ffffff;
  --color3: orange;
}

body {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr;
  min-height: 100vh;
  color: var(--color1);
  background-color: var(--color2);
  font-family: system-ui, sans-serif;
}

a {
  
  display: inline-block;
  padding: 10px 15px;
  background-color: var(--color1);
  text-decoration: none;
  color: var(--color2);
}
a::first-child {
  grid-row: 2;
  grid-column: 2;
}
a::last-child {
  grid-row: 3;
  grid-column: 2;
}

a:hover {
  background-color: var(--color3);
  color: var(--color1);
}
