  <!-- Напишіть функцію createCalendar(elem, year, month).

Виклик функції повинен створити календар для заданого 
місяця month на рік і вставити його в elem.

Календар має бути таблицею, 
де тиждень –th 
а день – це <th>. 
У таблиці має бути заголовок із назвами днів тижня, 
кожен день – <th>, 
першим днем тижня має бути понеділок.

-->
  

<head>
  <style>
    table {
      border-collapse: collapse;
    }

    th,
    th {
      border: 1px solid black;
      padding: 3px;
      text-align: center;
    }

    th {
      font-weight: bold;
      background-color: #E6E6E6;
    }

    td {
      border: solid 3px purple;
    }
  </style>
</head>

<body>


  <div id="calendar"></div>
  <tr>

  </tr>
  <script>
    let getDay = (date) => {
      let day = date.getDay();// 0 - 6
      if (day === 0) { // Коли неділя повертаємо > 6
        return 7;
      }
      return day - 1;
    }

    let createCalendar = (elem, year, month) => {
      let mon = month - 1;
      let day = new Date(year, mon);
      let weekIndex = getDay(day); 
      
      console.log(weekIndex);
      console.log(day);

      let table = `<table>
        <tr>    
          <th>Пн</th>
          <th>Вт</th>
          <th>Ср</th>
          <th>Чт</th>
          <th>Пт</th>
          <th>Сб</th>
          <th>Нд</th>
        </tr><tr>`;
      
        //<td></td>
        //<td>${day.getDate()}</td>
        //<td></td>
        //</tr></table>
        // Доповнили порожні клітинки до першого числа місяця

        for (let i = 0; i < weekIndex; i++) {
          table += "<td></td>";
        }

        while (day.getMonth() === mon) {
          table += `<td>${day.getDate()}</td>`;

          if (getDay(day) === 7) {
            table += "</tr><tr>";
          }

          day.setDate(day.getDate()+1); 
        }

        for (let i = getDay(day); i < 7; i++ ) {
          if (i >= 1) {
            table += "<td></td>";
          } else {
            break;
          } 
        }

        table += "</tr></table>";

        elem.insertAdjacentHTML('afterbegin', table);
        
    }

    let elCalender = document.querySelector('#calendar');

    createCalendar(elCalender, 2023, 11);
    
  </script>

</body>
</html>